page-deposito-detail,
.deposito-detail {
	.deposito-info {	
		.deposito-features {
		  ion-icon {
		    min-width: 1.5rem;
		    text-align: center;
		  }
		}
	}

	.item.no-border .item-inner {
		padding-right: 0;
		[item-end] {
		  margin: 0;
		}
	}
}
