<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Lava Jato</strong> Serviços
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="doInserirServico()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button tappable (click)="getServicos()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <ion-checkbox [(ngModel)]="somenteDiaAtual" (ionChange)="getServicos()"></ion-checkbox>
    </ion-buttons>
  </ion-navbar>
  
   <!--  -->
  <!--<ion-toolbar padding color="light">
    <p ion-text no-margin class="text-white">      
      <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="doInserirServico()">
        <ion-icon name="car"></ion-icon> Adicionar
      </button>
    </p>
  </ion-toolbar>-->

</ion-header>

<ion-content padding class="servico servicos detail-bg">
  <!--list of trips-->
<!--
<ion-grid class="servico">

<ion-row *ngFor="let item of servicos">
    
    <ion-col col-10 *ngIf="item.situacao !== 'Pago'">
      <div class="servico card">       
        <div class="padding-sm Padrao" [ngClass]="item.situacao" tappable (click)="viewDetail(item)">
          <ion-icon name="car" class="text-white"></ion-icon>
          <span ion-text class="text-white">{{ item.nomeCliente }}</span>
          <span ion-text  class="pull-right text-white">{{ item.placa }}</span>      
        </div>     
      </div>
    </ion-col>

    <ion-col col-12 *ngIf="item.situacao === 'Pago'">
      <div class="servico card">       
        <div class="padding-sm Padrao" [ngClass]="item.situacao" tappable (click)="viewDetail(item)">
          <ion-icon name="car" class="text-white"></ion-icon>
          <span ion-text class="text-white">{{ item.nomeCliente }}</span>
          <span ion-text  class="pull-right text-white">{{ item.placa }}</span>      
        </div>     
      </div>
    </ion-col>
    
    <ion-col col-2 *ngIf="item.situacao !== 'Pago'">
      <button ion-button no-margin class="round pull-right sendSMS" tappable (click)="doFinalizarServico(item)">
          <ion-icon icon-start name="cash" *ngIf="item.situacao === 'Finalizado'"></ion-icon>
          <ion-icon icon-start name="checkmark" *ngIf="item.situacao !== 'Finalizado'"></ion-icon>
      </button>
    </ion-col>

</ion-row>

</ion-grid>  
-->

<ion-list>
    <div  *ngFor="let situacao of situacoes">    
      <ion-list-header class="headerServico">
        {{ situacao }}
      </ion-list-header>

      <ion-item-sliding *ngFor="let item of servicosPorSituacao(situacao)">
        <ion-item tappable (click)="viewDetail(item)" [ngClass]="alterarCorData(item)">
          <ion-icon name="car" class="pull-right itemServico"></ion-icon>
          <h2>{{ item.placa }}</h2>
          <p class="pull-left">{{ item.nomeCliente }}</p>
          <p class="pull-right"  style="margin-right: -23px">{{ item.dataHoraEntrada | date:'dd/MM HH:mm' }}</p>
        </ion-item>
        <ion-item-options>          
          <button ion-button color="secondary" icon-start *ngIf="situacao === 'Fila'"
                tappable (click)="alterarSituacao(item, 'Atendimento')">
            <ion-icon name="car"></ion-icon>
            Iniciar
          </button>
          <button ion-button color="primary" icon-start *ngIf="situacao === 'Atendimento'"
                tappable (click)="doFinalizarServico(item)">
            <ion-icon name="checkmark"></ion-icon>
            Finalizar
          </button>
          <button ion-button color="primary" icon-start *ngIf="situacao === 'Finalizado'"
                tappable (click)="doFinalizarServico(item)">
            <ion-icon name="cash"></ion-icon>
            Receber
          </button>
          <button ion-button color="primary" icon-start *ngIf="situacao === 'Pago'"
                tappable (click)="alterarSituacao(item, 'Atendimento')">
            <ion-icon name="car"></ion-icon>
            Atendimento
          </button>  
        </ion-item-options>
      </ion-item-sliding>
    </div>

  </ion-list> 

</ion-content>
